<hlm-dialog [state]="state()" (closed)="closeDialog()">
  <hlm-dialog-content *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>{{ 'dialog.addCategory' | translate }}</h3>
      <p hlmDialogDescription>{{ 'dialog.categoryDesc' | translate }}</p>
    </hlm-dialog-header>
    <div class="grid gap-4 py-4">
      <div class="grid grid-cols-4 items-center gap-4">
        <label hlmLabel for="cat-id" class="text-right">{{ 'form.id' | translate }}</label>
        <input hlmInput id="cat-id" [ngModel]="newCategory().id" (ngModelChange)="setNewCategoryId($event)" class="col-span-3" />
      </div>
      <div class="grid grid-cols-4 items-center gap-4">
        <label hlmLabel for="cat-name" class="text-right">{{ 'form.name' | translate }}</label>
        <input hlmInput id="cat-name" [ngModel]="newCategory().name" (ngModelChange)="setNewCategoryName($event)" class="col-span-3" />
      </div>
    </div>
    <hlm-dialog-footer>
       <button hlmBtn variant="ghost" (click)="closeDialog()">{{ 'actions.cancel' | translate }}</button>
      <button hlmBtn (click)="save()">{{ 'actions.save' | translate }}</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
