<hlm-card>
    <hlm-card-header>
        <h3 hlmCardTitle>{{ 'auth.loginTitle' | translate }}</h3>
        <p hlmCardDescription>
            {{ 'auth.loginDesc' | translate }}
        </p>
    </hlm-card-header>
    <div hlmCardContent>
        <form [formGroup]="form" (ngSubmit)="login()">
            <hlm-field-group>
                <hlm-field>
                    <label hlmFieldLabel for="email">{{ 'form.email' | translate }}</label>
                    <input
                        hlmInput
                        type="email"
                        id="email"
                        placeholder="m@example.com"
                        formControlName="email"
                    />
                    @if (
                        form.controls.email.touched &&
                        form.controls.email.invalid
                    ) {
                        <hlm-field-error>
                            @if (form.controls.email.errors?.['required']) {
                                {{ 'validation.emailRequired' | translate }}
                            }
                            @if (form.controls.email.errors?.['email']) {
                                {{ 'validation.emailInvalid' | translate }}
                            }
                        </hlm-field-error>
                    }
                </hlm-field>
                <hlm-field>
                    <div class="flex items-center">
                        <label hlmFieldLabel for="password">{{ 'form.password' | translate }}</label>
                        <a
                            hlmFieldDescription
                            class="ml-auto text-sm underline-offset-4 hover:underline"
                            routerLink="."
                        >
                            {{ 'auth.forgotPassword' | translate }}
                        </a>
                    </div>
                    <input
                        hlmInput
                        type="password"
                        id="password"
                        formControlName="password"
                    />
                    @if (
                        form.controls.password.touched &&
                        form.controls.password.invalid
                    ) {
                        <hlm-field-error>
                            @if (form.controls.password.errors?.['required']) {
                                {{ 'validation.passwordRequired' | translate }}
                            }
                            @if (form.controls.password.errors?.['minlength']) {
                                {{ 'validation.passwordLength' | translate }}
                            }
                        </hlm-field-error>
                    }
                </hlm-field>
                <hlm-field>
                    <button hlmBtn type="submit" [disabled]="form.invalid">
                        {{ 'auth.login' | translate }}
                    </button>
                </hlm-field>
            </hlm-field-group>
        </form>
    </div>
</hlm-card>
