<div class="flex h-screen items-center justify-center bg-zinc-50 dark:bg-zinc-900">
    <section hlmCard class="w-full max-w-md">
        <div hlmCardHeader>
            <h3 hlmCardTitle>Login</h3>
            <p hlmCardDescription>Enter your credentials to access the account.</p>
        </div>
        <div hlmCardContent class="grid gap-4">
            <div class="grid gap-2">
                <label hlmLabel for="email">Email</label>
                <input hlmInput id="email" type="email" placeholder="m@example.com" />
            </div>
            <div class="grid gap-2">
                <label hlmLabel for="password">Password</label>
                <input hlmInput id="password" type="password" />
            </div>
        </div>
        <div hlmCardFooter class="justify-between">
            <button hlmBtn variant="ghost">Forgot Password?</button>
            <button hlmBtn>Sign In</button>
        </div>
    </section>
</div>
